@model RealMusic.Dto.CheckBoxListItemDto

<label class="checkbox-entry">
    <input type="hidden" name="Id"/>
    <input type="checkbox" name="IsChecked"> <span class="check"></span> @Model.Name
</label>