@model RealMusic.Dto.SelectListItemDto

<div class="simple-drop-down simple-field">
    <select>
        <option>United States</option>
        <option>Great Britain</option>
        <option>Canada</option>
    </select>
</div>