@model RealMusic.Dto.SearchResultDto

<div class="breadcrumb-box">
    <a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)">Trang chủ</a>
    <a>Kết quả tìm kiếm</a>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="sidebar-navigation" style="margin-top: 0;">
            @await Component.InvokeAsync("Sidebar", 0u)
        </div>
        <div class="clear"></div>
    </div>
    <div class="col-md-9">
        @await Component.InvokeAsync("AlbumSearchList", Model)
        <div class="clear"></div>
    </div>
</div>


@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
{
}
