<div class="information-blocks">
    <div class="message-box message-success">
        <div class="message-icon"><i class="fa fa-check"></i></div>
        <div class="message-text">
            Chúng tôi đã nhận được đơn đặt hàng của bạn. Chúng tôi sẽ liên hệ với bạn trong vòng 24h.<br/>
            Ấn vào <a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)">đây</a> để trở về trang chủ.
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
{
}
