@model RealMusic.Dto.CategoryListDto

@section head
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs-3.3.6/dt-1.10.11/datatables.min.css" />
}

<div class="row">
    <div class="col-md-12">
        <div class="row" id="category-success-message" style="display: none;">
            <div class="message-box message-success">
                <div class="message-icon"><i class="fa fa-check"></i>
                </div>
                <div class="message-text">Cập nhật danh mục thành công.</div>
                <div class="message-close"><i class="fa fa-times"></i>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-hover" id="category-table">
            <thead>
            <tr>
                <th>Tên</th>
                <th>Loại</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr data-id="@item.ItemId">
                    <td onclick="openEdit(this);">
                        <span>@item.Name</span>
                        <input type="text" name="Name" class="simple-field" value="@item.Name" onfocus="this.value = this.value;" style="display: none;"/>
                    </td>
                    <td>@item.CategoryType</td>
                    <td>
                        <a class="btn btn-danger" onclick="onDelete(this);"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
</div>


@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs-3.3.6/dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script>
        var categoryTable;

        $(document).ready(function () {
            categoryTable = $('#category-table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<i class="fa fa-plus"> Tạo mới',
                        action: function (e, dt, node, config) {
                            categoryTable.row.add(
                                [
                                    '<input type="text" name="Name" class="simple-field" />',
                                    '<div class="simple-drop-down simple-field"><select name="CategoryType"><option value="0">Music</option><option value="1">Film</option></select></div>',
                                    '<a class="btn btn-success" onclick="onAdd(this);"><i class="fa fa-check"></i></a> <a class="btn btn-danger" onclick="onCancel(this);"><i class="fa fa-remove"></i></a>'
                                ]
                            ).draw();
                        },
                        className: 'btn btn-primary'
                    }
                ]
            });
        });

        function onAdd(element) {
            var name = $(element).closest('tr').find('input[name="Name"]').val();
            var categoryType = $(element).closest('tr').find('select[name="CategoryType"] :selected').val();

            if (name) {
                $.ajax({
                    url: '/category/store/',
                    type: "POST",
                    data: JSON.stringify({ ItemId: 0, Name: name, CategoryType: categoryType }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        location.reload();
                    },
                    error: function (error) {
                        location.reload();
                    }
                });
            }
        }

        function openEdit(element) {
            var text = $(element).find('span').hide();
            var input = $(element).find('input');

            input.show();
            input.focus();

            input.focusout(function () {
                input.hide();
                if (input.val() !== '' && input.val() !== text.text()) {
                    text.text(input.val());

                    var itemId = input.closest('tr').data('id');
                    $.ajax({
                        url: '/category/store/',
                        type: "POST",
                        data: JSON.stringify({ ItemId: itemId, Name: input.val() }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            $('#category-success-message').show();
                            setTimeout(function () {
                                $('#category-success-message').fadeOut(1000);
                            }, 3000);
                        }
                    });
                }
                text.show();
            });
        }

        function onDelete(element) {
            var confirmed = confirm('Chắc chắn xóa danh mục này?');

            if (confirmed) {
                var itemId = $(element).closest('tr').data('id');
                $.ajax({
                    url: '/category/delete/' + itemId,
                    type: "POST",
                    success: function () {
                        categoryTable.row($(element).closest('tr')).remove().draw();
                        $('#category-success-message').show();
                        setTimeout(function () {
                            $('#category-success-message').fadeOut(1000);
                        }, 3000);
                    }
                });
            }
        }

        function onCancel(element) {
            categoryTable.row($(element).closest('tr')).remove().draw();
        }
    </script>
}
